main {
	background-color: var(--verde-claro);
	padding: 2rem;
}

h1 {
	margin-bottom: 2rem;
	text-align: center;
}

#galeria {
	width: 100%;
	max-width: 1100px;
	margin: 0 auto;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 1.5rem;
}

.produto {
	display: inline-block;
	min-width: 200px;
	max-width: 400px;
	background-color: white;
	padding: 1.5rem;
	box-shadow: 2px 2px 4px rgba(0, 0, 0, .5);
	text-decoration: none;
	color: black;
	font-size: 1.25rem;
}

.produto img {
	width: 100%;
	height: 200px;
	object-fit: cover;
}

/* MEDIA QUERIES */
@media (max-width: 860px) {
	#galeria {
		grid-template-columns: repeat(2, 1fr)
	}
}

@media (max-width: 600px) {
	#galeria {
		grid-template-columns: 1fr;
	}

	.produto {
		max-width: 100%;
	}
}