main {
	padding: 2rem;
	background-color: var(--amarelo-claro);
}

#produto {
	max-width: 1100px;
	margin: 0 auto;
	padding: 1.5rem;
	background-color: white;
	display: grid;
	grid-template-columns: 400px 1fr;
	gap: 2rem;
	border-radius: 3px;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, .2);
}

#produto img {
	border-radius: 10px;
	width: 100%;
	height: 500px;
	object-fit: contain;
	align-self: center;
}

#produto .informacoes {
	display: flex;
	flex-direction: column;
	gap: 2rem;
}

#produto .nome {
	font-size: 2rem;
}

#produto .tamanho, #produto .genero {
	display: flex;
	flex-direction: column;
}

#produto span {
	width: 2rem;
	height: 2rem;
	text-align: center;
	font-weight: bold;
	padding: .25rem;
	border: 2px solid var(--rosa-escuro);
}

#produto a {
	background-color: var(--rosa-escuro);
	padding: 1rem;
	color: white;
	text-align: center;
	font-size: 1.5rem;
	text-decoration: none;
	border-radius: 7px;
	box-shadow: 2px 2px 8px rgba(0, 0, 0, .5);
}

/* MEDIA QUERIES */
@media (max-width: 768px) {
	#produto {
		grid-template-columns: 1fr;
	}

	#produto img {
		height: fit-content;
		max-height: 500px;
	}
}