/* img {
	max-width: 300px;
} */
/* BANNER */
#banner {
	height: 400px;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: right;
	color: white;
	position: relative;
	overflow: hidden;
}

#banner img {
	position: absolute;
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: center;
	filter: blur(2px);
	z-index: -1;
}

#banner div {
	padding: 1.5rem;
	background-color: rgba(255, 192, 189, 0.5);
	max-width: 450px;
	margin-right: 5%;
}

#banner h2 {
	font-size: 2.5rem;
}

#banner a {
	margin-top: 2.5rem;
	display: inline-block;
	padding: .75rem;
	background-color: var(--rosa);
	color: white;
	text-decoration: none;
	text-transform: uppercase;
	font-weight: bold;
	cursor: pointer;
	border-radius: 7px;
	box-shadow: 2px 2px 2px rgba(0, 0, 0, .5);
}


/* NOSSA LOJA */
#nossa-loja {
	max-width: 1100px;
	margin: 0 auto;
	padding: 1.5rem;
	margin-bottom: 2rem;
}

#nossa-loja h2 {
	text-align: center;
	margin-bottom: 1.5rem;
}

#nossa-loja .catalogo {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(2, 1fr);
	column-gap: 1.5rem;
	row-gap: 3rem;
}

#nossa-loja .produto {
	display: flex;
	flex-direction: column;
	gap: .5rem;
	width: 300px;
}

#nossa-loja .produto .produto-imagem {
	height: 250px;
	border-radius: 7px;
	object-fit: cover;
	object-position: center;
}

#nossa-loja .produto a {
	color: black;

}


/* UTENSÍLIOS */
#utensilios {
	position: relative;	
	padding: 2rem;
	overflow: hidden;
}

#utensilios::before {
	content: '';
	position: absolute;
	inset: 0;
	background-color: var(--rosa-claro);
	z-index: -999;
}

.utensilios-container {
	display: grid;
	grid-template-columns: 1fr 1fr;
	column-gap: 1.5rem;
	max-height: 600px;
	max-width: 1100px;
	margin: 0 auto;
}

#utensilios .utensilios-texto {
	display: grid;
	grid-template-rows: auto auto 1fr;
}

#utensilios .utensilios-texto h2 {
	color: var(--rosa-escuro);
	font-size: 3rem;
}

#utensilios .utensilios-texto p {
	font-size: 18px;
}

#utensilios .utensilios-texto a {
	background-color: var(--rosa-escuro);
	padding: 1.5rem;
	color: white;
	width: fit-content;
	border-radius: 8px;
	align-self: end;
}

.folha-1, .folha-2 {
	position: absolute;
	width: 30vw;
	max-width: 350px;
	z-index: -1;
	opacity: .6;
}

.folha-1 {
	transform: rotate(-90deg);
	left: 0;
	top: 0;
}

.folha-2 {
	right: -24px;
	bottom: -24px;
}

.utensilios-imagens {
	display: grid;
	grid-template-columns: .6fr .4fr;
	grid-template-rows: .45fr .55fr;
	gap: .5rem;
}

.utensilios-imagens img {
	width: 100%;
	height: 100%;
	max-height: 200px;
	object-fit: cover;
	object-position: center;
	border-radius: 3px;
}

.utensilios-imagens img.span-2 {
	grid-column: span 2;
	object-position: bottom;
}

/* Avaliações */
#avaliacoes {
	padding: 1.5rem;
	background-color: var(--verde-claro);
}

#avaliacoes h2, #avaliacoes .avaliacoes-texto{
	text-align: center;
}

.avaliacoes-container {
	max-width: 1100px;
	margin: 0 auto;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 1.5rem;
	margin-top: 2rem;
	justify-content: center;
}

.avaliacao {
	padding: 1rem;
	background-color: white;
	border-radius: 7px;
	box-shadow: 2px 2px 4px rgba(0, 0, 0, .5);
	height: 200px;	
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

.avaliacao .avaliacao-nome {
	font-weight: bold;
}

.avaliacao .avaliacao-comentario {
	font-size: 14px;
	margin-bottom: 2;
}

.avaliacao .estrelas {
	height: 1.5rem;
	flex-grow: 2;
	align-content: end;
}

.avaliacao .estrelas svg {
	width: 1.5rem;
	height: 1.5rem;
	fill: var(--verde);
}


/* CONTATO E LOCALIZAÇÃO */
#contato-localizacao {
	padding: 2rem;
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: auto auto auto;
}

#contato-localizacao h2 {
	text-align: center;
	margin-bottom: 2rem;
	grid-column-start: 1;
	grid-column-end: 3;
	
}

#contato-localizacao .contatos .contato {
	display: flex;
	gap: .75rem;
	align-items: center;
	margin-bottom: 1rem;
}

#contato-localizacao .contatos .contato img {
	width: 2rem;

}

#contato-localizacao iframe {
	grid-row-start: 2;
	grid-row-end: 4;
	grid-column-start: 2;
	height: 450px;
	width: 600px;
}


/* MEDIA QUERIES */
@media (max-width: 768px) {
	/* CATALOGO */
	#nossa-loja .catalogo {
		grid-template-columns: 1fr;
		gap: 1.5rem;
	}
	
	#nossa-loja .catalogo .produto {
		width: 100%;	
	}
	
	
	#nossa-loja .catalogo .produto .produto-imagem {
		width: 100%;
		height: 200px;
	}

	/* UTENSÍLIOS */
	#utensilios {
		padding: 1rem;
	}
	
	.utensilios-container {
		grid-template-columns: 1fr;
		max-height: fit-content;
	}

	#utensilios .utensilios-texto h2 {
		font-size: 1.5rem;
		margin-bottom: 1rem;
	}

	#utensilios .utensilios-texto p {
		font-size: 1rem;
	}

	#utensilios .utensilios-texto a {
		padding: 1rem;
		margin-block: 1rem;
	}

	.utensilios-imagens {
		grid-template-columns: .6fr .4fr;
		grid-template-rows: 120px 200px;
	}

	.utensilios-imagens img {
		max-height: 200px;
	}

	/* AVALIAÇÕES */
	#avaliacoes {
		padding: 1rem;
	}
	
	#avaliacoes .avaliacoes-container {
		grid-template-columns: 1fr;
	}
}