:root {
    --amarelo: #ffe88a;
		--amarelo-claro: #fcedbe;
    --rosa-claro: #ffebeb;
    --rosa: #f5b1ac;
    --rosa-escuro: #ca7575;
    --verde: #448f50;
    --verde-claro: #eaffdd;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
}

/* WHATSAPP FLUTUANTE */
.whatsapp-flutuante {
	display: inline-block;
	position: fixed;
	bottom: 2rem;
	right: 2rem;
	text-decoration: none;
	height: 4rem;
	width: 4rem;
	cursor: pointer;
	animation: whatsapp 2s linear infinite
}

.whatsapp-flutuante img {
	width: 100%;
	height: 100%;
	border-radius: 100%;
}

@keyframes whatsapp {
	0% {scale: 1;}
	50% {scale: 1.1;}
	100% {scale: 1;}
}

header {
    height: 80px;
    padding-inline: 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--amarelo);
    box-shadow: 0 0 8px rgba(0, 0, 0, .5);
}

.logo {
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    gap: 1rem;
		color: black;
		text-decoration: none;
}

.logo img {
    width: 4rem;
    height: auto;
    background-color: white;
    border-radius: 100%;
}

nav {
    height: 80px;
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: center;
}

nav a {
    color: black;
    text-decoration: none;
}

nav a:hover {
    text-decoration: underline;
}

/* FOOTER */
footer {
	padding: 2rem 2rem 0 2rem;
	background-color: var(--amarelo);
	display: grid;
	grid-template-columns: auto 1fr;
	grid-template-rows: 1fr auto;
	column-gap: 5rem;
}

footer img.footer-logo {
	width: 200px;
	height: 200px;
	background-color: white;
	border-radius: 100%;
}

footer .links {
	display: flex;
	gap: 1.5rem;
}

footer .links p {
	margin-bottom: .5rem;
}

footer .links-esquerda, footer .links-direita {
	display: flex;
	gap: .5rem;
	flex-direction: column;
}

footer a {
	color: #333;
	font-size: 14px;
	text-decoration: none;
}

footer a:hover {
	text-decoration: underline;
}

footer .linha-meio {
	height: 100%;
	width: 2px;
	/* background-color: rgb(208, 208, 208); */
}

footer .direitos-reservados {
	margin-top: 2rem;
	grid-column: 1 / 3;
	text-align: center;
	color: #222;
	margin-bottom: 1rem;
}

/* GERAL */
.container {
	max-width: 1100px;
	margin: 0 auto;
}


/* MEDIA QUERIES */
@media (max-width: 768px){
	.whatsapp-flutuante {
		width: 3rem;
		height: 3rem;
	}

    nav {
        height: fit-content;
    }

    .logo {
        font-size: 1.25rem;
        gap: 0;
    }

    .logo img {
        width: 3rem;
    }
}

@media (max-width: 500px) {
	header {
		padding-block: .5rem;
		padding-inline: .5rem;
		height: 100px;
		flex-direction: column;
	}

	/* FOOTER */
	footer {
		padding: 1.5rem 1.5rem 0 1.5rem;
		grid-template-columns: 1fr;
		grid-template-rows: repeat(3, auto);
		column-gap: 0;
	}

	footer img.footer-logo {
		width: 100px;
		height: 100px;
		align-self: center;
	}

	footer .links {
		flex-direction: column;
	}
}